$page-background-color: hsl(226, 96%, 13%);
$font-color: hsl(224, 4%, 87%);
$font-stack: 'Roboto Condensed', sans-serif;
$border-color: hsl(211, 0%, 30%);

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

body{
  #greeting{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  background-color: $page-background-color;
  #main{
    animation: fadeIn;

    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
  }
  .container {
    h1{
      color: $font-color;
      font-family: $font-stack;
    }
    h2{
      color: $font-color;
      font-family: $font-stack;
    }
    h3{
      color: $font-color;
      font-family: $font-stack;
    }
    p{
      color: $font-color;
      font-family: $font-stack;
    }
    nav {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      button{
        background-color: $page-background-color;
        border: none;
        font-size: 16px;
        font-family: $font-stack;
        color: $font-color;
      }
    }
    .ticker{
      border: 1px solid black;
      height: 30px;
      background-color: hsl(211, 0%, 30%);
      white-space: nowrap;
      overflow: hidden;
      p{
        white-space: nowrap;
        display: inline;
        width: auto;
      }
    }
    .tagline{
      display: flex;
      justify-content: center;
    }
    .signin{
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid $border-color;
      border-radius: 5px;
      height: 300px;
      margin-bottom: 10px;
    }
    .leaderboard{
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid $border-color;
      border-radius: 5px;
      height: 300px;
      margin-bottom: 10px;
    }
    #about{
      display: none;
    }
    #research{
      display: none;
    }
    #standings{
      display: none;
    }
    #support{
      display: none;
    }
    footer{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 10px;
    }
  }
}
